<!-- ko with: home -->
<div class="jumbotron">
    <h1>Developer Evaluation</h1>
    <p class="lead">Calculate stuff!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Put Your Code in this DIV</h2>
        <p>This section shows how you can call ASP.NET Web API to get the user details.</p>
    </div>
</div>

<!-- /ko -->
